<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produkty</title>
</head>
<body>
<h1>Witaj w aplikacji produktowej!</h1>

<h2>Dodawanie produktu</h2>
<form action="/add" method="post">
    <input type="text" name="nazwa" placeholder="Nazwa towaru">
    <input type="text" name="cena" placeholder="Cena towaru">
    <input type="submit" value="Dodaj towar">
</form>
<br/>
<a href="/lista">Pokaż listę produktów</a><br/>
<a href="/tabela">Pokaż tabelę produktów</a>

</body>
</html>